<!DOCTYPE html>
<html>
<head>
  <title>View component ui</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= ViewComponentUI::AssetHelper.view_component_ui_asset_tags %>
</head>
<body>

<%= render ViewComponentUI::BoxComponent.new(p: 10) do %>
  <%= yield %>
<% end %>

</body>
</html>
